* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fire Sans", sans-serif;
}

header {
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  margin: 0 15px;
}

.nav li a {
  text-decoration: none;
  size: 12px;
  font-weight: bold;
  color: #3263aa;
  padding: 5px 0;
  position: relative;
}

#logo {
  width: 300px;
  height: 75px;
}

.nav-div {
  height: 75px;
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-div .nav li {
  background-color: #c5c5c5;
  width: 150px;
  padding: 2px;
  background-color: #3263aa;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7%;
}

.nav-div .nav li a {
  text-align: center;
  color: white;
}

.nav-div .border {
  width: auto;
  height: 5px;
  background-color: #3263aa;
}

.main-div {
  background-color: black;
  border-top: 8px solid #3263aa;
  height: 2400px;
  width: auto;
}

.random-container {
  width: auto;
  margin: 0 0 10px 0;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}

.random-container .details {
  margin: 0;
  padding: 7px;
  float: left;
  display: block;
  position: relative;
  border: 2px solid #2b2b2b;
  font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.random-container .details img {
  float: left;
  margin-right: 15px;
  max-width: 220px;
  max-height: 330px;
}

.random-container .details h3 {
  color: #3263aa;
  font-size: 1.9em;
  padding-bottom: 15px;
}

.random-container .details p {
  font-size: 13px;
  padding-right: 7px;
}

.random-container .details .random-button {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.popular-container {
  width: auto;
  margin: 0 0 10px 0;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}

.popular-container .details {
  margin: 0;
  padding: 7px;
  float: left;
  display: block;
  position: relative;
  border: 2px solid #2b2b2b;
  font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.popular-container .details h1 {
  text-align: center;
  color: #3263aa;
  border-bottom: 2px solid #2b2b2b;
  padding-bottom: 5px;
}

.popular-container .details .list-card {
  margin: 0;
  padding: 7px;
  float: left;
  display: block;
  position: relative;
  border: 2px solid #2b2b2b;
  font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.popular-container .details .list-card img {
  float: left;
  display: block;
  position: relative;
  margin-right: 15px;
  max-width: 150px;
  max-height: 330px;
  margin: 0;
  padding: 7px;
  margin-right: 50px;
}

.popular-container .details .list-card h3 {
  color: #3263aa;
  font-size: 1.9em;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.popular-container .details .list-card p {
  font-size: 13px;
  padding-right: 7px;
}

.login-div {
  background-color: black;
  border-top: 8px solid #3263aa;
  height: 700px;
  width: auto;
}

.login-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
  display: block;
  justify-content: center;
}

.myform {
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  display: inline-block;
  border: 2px solid #2b2b2b;
  font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  width: 50%;
}

.myform-group {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.myform-group label {
  font-size: 25px;
  font-weight: bold;
  color: #3263aa;
  padding-right: 20px;
  display: inline-block;
  width: 300px;
}

.myform-group input {
  width: 250px;
}

.myform-group a {
  font-size: 30px;
  color: #3263aa !important;
}

.myButton {
  color: white;
  font-size: 25px;
  width: 100%;
  line-height: 23px;
  padding: 11px;
  border-radius: 2px;
  font: normal 23px Tahoma, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, #3263aa 50%, #3263aa 100%);
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.myButton:hover {
  background: #1C6EA4;
}

.myButton:active {
  background: #144E75;
}/*# sourceMappingURL=main.css.map */